<html>
  <head>
    <title>Personal Library</title>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h3><b>ISQA Project</b> - Personal Library</h3>
      </header>
     
      <div id="sampleui">
         <p>
          FCC Project to add a Book into the Library (And to give it a comment =D)
        </p>
        <form id="newBookForm" class="border">
          
           <h3>
            Submit a Book!
          </h3>
          <input
            type="text"
            id="bookTitleToAdd"
            name="title"
            placeholder="New Book Title"
            style="width: 295px"
          />
          <button type="submit" value="Submit" id="newBook">
            Submit New Book!
          </button>
        </form>
        <form action="" method="post" id="commentTest" class="border">
            <h3>
            Comment on a book
          </h3>
          BookId to comment on:<br />
          <input type="text" name="id" value="" id="idinputtest" /><br />
          Comment:<br />
          <input type="text" name="comment" value="" /><br />
          <input type="submit" value="Submit" />
        </form>
        <div id="display"></div>
        <div id="bookDetail" class="border">
          <p id="detailTitle">Select a book to see it's details and comments</p>
          <ol id="detailComments"></ol>
        </div>
        <button id="deleteAllBooks">Delete all books...</button>
      </div>
    

      <script
        src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"
      ></script>
      <script src="/public/client.js"></script>
      <script>
        /*
         *  For #sampleposting to update form action url to test inputs book id
         */
        $(function() {
          $("#commentTest").submit(function() {
            var id = $("#idinputtest").val();
            $(this).attr("action", "/api/books/" + id);
          });
        });
      </script>
    </div>
  </body>
</html>
